<h1>Sign In</h1>

	{{!-- <div class="container-fluid">
		<div class="row main-content bg-success text-center">

			<div class="col-md-8 col-xs-12 col-sm-12 login_form ">
				<div class="container-fluid">
					<div class="row">
						<h2>Log In</h2>
					</div>

					<div class="row">
						<form control="" class="form-group">
							<div class="row">
								<input type="text" name="username" id="username" class="form__input" placeholder="Username">
							</div>
              
							<div class="row">
								<!-- <span class="fa fa-lock"></span> -->
								<input type="password" name="password" id="password" class="form__input" placeholder="Password">
							</div>
							<div class="row">
								<input type="submit" value="Submit" class="btn">
							</div>
						</form>
					</div>
          
					<div class="row">
						<p>Don't have an account? <a href="#">Register Here</a></p>
					</div>
				</div>
			</div>
		</div>
	</div> --}}






<form method="POST" action="/signin">
  <label>Email</label>
  <input type="email" name="email" placeholder="Enter your email"  >

  <label>Password</label>
  <input type="password" name="password" placeholder="Enter your Password"  >
  <button type="submit" >Sign In</button>
</form>

{{!-- conditionally render the msg --}}
{{#if msg}}
  <div class="error">{{msg}}</div>
{{/if}}