<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <meta name="description" content="Select your favorite recipes, get the list of associated ingredients and create a complete groceries list">
   <meta name="keywords" content="recipe, ingredients, calendarview">
   <meta name="author" content="Thomas de Groot and Cindy Teeven">
   <title>{{title}}</title>
   <link rel="icon" href="favicon.ico" type="https://genfavicon.com/tmp/icon_146ecb3ddd0e9a3cd2c047eddb100cb0.ico">
   {{!-- <link rel="icon" type="favicon.ico" href="../public/images/favicon_clicknmeal.ico"/>
   <link rel="icon" type="image/png" href="../public/images/logo_64x64.png"/> --}}
    
   <!-- CSS only -->
   {{!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"> --}}
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <link rel="stylesheet" href="/stylesheets/style.css" />
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js" integrity="sha512-otOZr2EcknK9a5aa3BbMR9XOjYKtxxscwyRHN6zmdXuRfJ5uApkHB7cz1laWk2g8RKLzV9qv/fl3RPwfCuoxHQ==" crossorigin="anonymous"></script>

</head>

<body>   
   <nav class="navbar navbar-default nav-var-fixed-top ">
   <div class="container-fluid bg-navbarcustom">
      {{!-- buttons on the navbar ~toggle-dropdown button--}}
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
         <span class="sr-only">Toggle navigation</span>
         {{!-- hamburger icon right --}}
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="/selector">Select</a>
         <a class="navbar-brand" href="/ingredients">Groceries</a>
         <a class="navbar-brand" href="/calendar">Weekview</a>
      </div>

      {{!-- content in toggle/dropdown button--}}
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav">
            <li class="active"><a href="/create">Create recipe<span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="/signup">Sign up<span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="/signin">Sign in<span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="/signout">Sign out<span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="/about">About<span class="sr-only">(current)</span></a></li>
         </ul>
      </div> {{!--.navbar-collapse--}}
   </div> {{!--.container-fluid--}}
   </nav>
   
   {{{body}}}

   <script src="/js/script.js"></script>

</body>
</html>