<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <meta name="description" content="Select your favorite recipes, get the list of associated ingredients and create a complete groceries list">
   <meta name="keywords" content="recipe, ingredients, calendarview">
   <meta name="author" content="Thomas de Groot and Cindy Teeven">
   <title>{{title}}</title>
   <link rel="icon" type="image/png" href="https://res.cloudinary.com/snowbird/image/upload/v1613475181/Click-n-meal/logo_bg_transp_64x64_nudugr.png"/> 
    
   <!-- CSS only -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
   <link rel="stylesheet" href="/stylesheets/style.css" />   

   <!-- ed for navbar libr: jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   <!-- axios libr-->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js" integrity="sha512-otOZr2EcknK9a5aa3BbMR9XOjYKtxxscwyRHN6zmdXuRfJ5uApkHB7cz1laWk2g8RKLzV9qv/fl3RPwfCuoxHQ==" crossorigin="anonymous"></script>
   
</head>

<body>  

   <nav class="navbar    navbar-default fixed-top navbar-light bg-navbarcustom">
      <div class="container bg-navbarcustom">
      <a class="navbar-brand" href="/selector">Home</a>
      <a class="navbar-brand" href="/profile">My Recipes</a>
      <a class="navbar-brand" href="/create">Create</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" aria-expanded="false">
         <span class="navbar-toggler-icon"></span>
      </button>
      </div>      

      {{!-- drop down toggle bar --}}
      <div class="collapse navbar-collapse" id="navbarText">
         <ul class="navbar-nav mr-auto">
            {{!-- <li class="nav-item active">
            <a class="nav-link" href="/create">Create recipe</span></a>
            </li> --}}
            {{!-- <li class="nav-item">
            <a class="nav-link" href="/profile">My recipies</a>
            </li> --}}
            <li class="nav-item">
            <a class="nav-link" href="/signup">Sign up</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/signin">Sign in</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
            </li>
         </ul>
      </div>
   </nav>

   {{{body}}}

   <script src="/js/script.js"></script>

</body>
</html>