<h2>Upload a picture to your recipe</h2>

<form method="POST" action="/upload" enctype="multipart/form-data">
    <input type="file" name="image" accept="image/png, image/jpg">
    <button type="submit">Submit</button> 
</form>  