<h1 class="text-center">About us</h1>

<div class="container mt-3">
  <div class="col col-md-4">
      <div class="image text-center">
        <img  src= "https://res.cloudinary.com/snowbird/image/upload/v1613475181/Click-n-meal/logo_bg_transp_64x64_nudugr.png">
      </div>

      <div class=" text-centerrow mt-2">
        <p class="text-lggreen">This app is created by Thomas and Cindy</p>
        <p class="text-lgblue">During the bootcamp and with the help of IronHack</p>
        <p class="text-lgblue">in House of Lannister</p>
      </div>

      <div class="image text-center custom-image">
        <img class="" src= "https://seeklogo.com/images/H/house-lannister-logo-1BD88EA268-seeklogo.com.png">
      </div>



  </div>
</div>